@font-face {
    font-family: roboto;
    src: url(./assets/fonts/roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: playfair-display;
    src: url(./assets/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
    --shape-color: #0891b2
}

* {
    box-sizing: border-box;
}

.image-shadow {
    box-shadow: -4px -3px 8px 0px rgba(0, 0, 0, 0.15), 4px 3px 8px 2px rgba(0, 0, 0, 0.15);
}

body {
    margin: 0px;
    max-width: 100vw;
    font-family: roboto;
}

header, main, footer {
    padding: 50px 80px;
}

h1 {
    font-family: playfair-display;
}



header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape {
    position: absolute;
    background-color: var(--shape-color);
    width: 100%;
    min-height: 100%;
    transform: skewY(-11deg);
    transform-origin: bottom left;
    z-index: -1;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow {
    box-shadow: 4px 3px 8px 2px rgba(0, 0, 0, 0.15);
}

.header-image {
    z-index: 1;
    flex-grow: 0;
    position: relative;
}

.header-image h1 {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.header-image img {
    max-width: 520px;
    height: auto;
    object-fit: cover;
    display: block;
}

.about {
    background-color: white;
    padding: 45px 20px;
}

.about h1 {
    font-size: 3rem;
}

.about p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.grid-ctn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.work-image {
    width: 100%;
    aspect-ratio: 3 / 2;
}

.work-description {
    aspect-ratio: 4 / 2;
    padding: 8px 25px;
}

.work-image {
    background-color: blueviolet;
}

footer {
    display: flex;
    background-color: var(--shape-color);
    justify-content: space-between;
    gap: 50px;
}

.footer-img-ctn {
    max-width: 100%;
    aspect-ratio: 3 / 2;
    flex: 1;
    line-height: 0px;
}

.footer-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}